/build
/packages/*/build
/dist
*.tsbuildinfo
*.log
.node_modules
node_modules
package-lock.json
tsconfig.json
tsconfig.esm.json
tsconfig.esm-es5.json
.vscode
.cache
/docs
src/**/.*
.idea
.project
.settings
.rpt2_cache
packages/*/tsconfig.tslint.json
